@tailwind base;
@tailwind components;
@tailwind utilities;

/* Imports */
@import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anta&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
/* Imports */

* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Anta', sans-serif !important;
  font-weight: 400;
  font-style: normal;
  background-color: #fff;
}
body::-webkit-scrollbar {
  width: 1em;
}
body::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
body::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}

/* Login */
.login {
  background-color: #f5f7f9;
  width: 100vw;
  height: 100vh;
  nav {
    background-color: #000;
    height: 4.5rem;
    header {
      img {
        width: 50px;
        height: 50px;
        transform: scale(2);
        -webkit-transform: scale(2);
        -moz-transform: scale(2);
      }
    }
  }

  .login-form {
    height: calc(100% - 4.5rem);
    background: url('../../public/assets/images/backgrounds/dark-wavy-cover.jpg')
      no-repeat;
    background-size: cover;
    form {
      width: 40%;
      height: 50%;
      -webkit-box-shadow: 0px 0px 8px 1px rgba(0, 0, 0, 0.75);
      -moz-box-shadow: 0px 0px 8px 1px rgba(0, 0, 0, 0.75);
      box-shadow: 0px 0px 8px 1px rgba(0, 0, 0, 0.75);

      .login-btn {
        transition: all 0.3s ease-in-out;
        -webkit-transition: all 0.3s ease-in-out;
        -moz-transition: all 0.3s ease-in-out;
        &:hover {
          transform: scale(1.1);
          -webkit-transform: scale(1.1);
          -moz-transform: scale(1.1);
        }
      }
    }
  }
}
/* Login */

/* Options */
.options {
  height: 100vh !important;
  .options-header {
    letter-spacing: 2px;
  }
  .content {
    section {
      width: 50%;
      height: 100vh;
      img {
        transition: all 0.2s ease-in-out;
        -webkit-transition: all 0.2s ease-in-out;
        -moz-transition: all 0.2s ease-in-out;
        &:hover {
          filter: brightness(50%);
          -webkit-filter: brightness(50%);
        }
      }
      .btn {
        z-index: 10 !important;
        transition: all 0.2s ease;
        -webkit-transition: all 0.2s ease;
        -moz-transition: all 0.2s ease;
        &:hover {
          transform: scale(1.1);
          -webkit-transform: scale(1.1);
          -moz-transform: scale(1.1);
        }
      }
    }
  }
}
/* Options */
//////////////////////////////////////////
/* Navbar */
.navbar {
  .navbar-nav {
    .nav-item {
      transition: all 0.5s ease;
      -webkit-transition: all 0.5s ease;
      -moz-transition: all 0.5s ease;
      &:hover {
        text-decoration: underline;
        transform: scale(1.1);
        -webkit-transform: scale(1.1);
        -moz-transform: scale(1.1);
      }
    }
  }
  .buttons {
    .icon {
      color: #252b4b;
    }
  }
}
/* Navbar */
//////////////////////////////////////////
/* welcome */
.welcome {
  height: 675px;
  .welcome-cover {
    z-index: -1;
  }
  .welcome-content {
    h6 {
      color: #6e687e;
    }
  }
}
/* welcome */
//////////////////////////////////////////
/* Products */
.products {
  .container {
    .row {
      .card {
        width: 18rem;
        height: 30rem;
        transition: all 0.2s ease-in-out;
        -webkit-transition: all 0.2s ease-in-out;
        -moz-transition: all 0.2s ease-in-out;
        cursor: pointer;
        &:hover {
          transform: scale(1.1);
          -webkit-transform: scale(1.1);
          -moz-transform: scale(1.1);
          box-shadow: 0 0 10px #6e687e;
          .card-img-top {
            transform: scale(0.85) rotate(25deg);
            -webkit-transform: scale(0.85) rotate(25deg);
            -moz-transform: scale(0.85) rotate(25deg);
          }
        }
        .card-img-top {
          height: 60%;
          width: 90%;
          transition: all 0.3s ease-in-out;
          -webkit-transition: all 0.3s ease-in-out;
          -moz-transition: all 0.3s ease-in-out;
        }
        .card-body {
          height: 40%;
          padding-top: 1.5rem;
          .card-title {
            font-size: 1.4rem;
          }
        }
      }
    }
  }
}
/* Products */
//////////////////////////////////////////
/* New Arrivals */
.arrivals {
  .arrivals-content {
    padding-top: 17rem;
    .arrivals-images {
      height: 40rem;
      img {
        height: 100%;
      }
    }
    .arrivals-news {
      .news-img {
        height: 25rem;
      }
      section {
        aside {
          right: -7rem;
          top: 3rem;
          background-color: #f2f2f2;
        }
      }
    }
  }
}
/* New Arrivals */
//////////////////////////////////////////
/* Footer */
.footer {
  background-color: #1f1f1f;
  padding: 20rem 0 0 2rem;
  .signature {
    font-family: 'Bungee Spice', sans-serif;
    font-weight: 400;
    font-style: normal;
  }
}
/* Footer */
//////////////////////////////////////////
/* CART */
.cart {
  min-height: calc(100vh - 120px);
  width: 80vw;
  margin-top: 40px;
  padding: 2.5rem 0;
  // max-width: 50rem;
  h2 {
    margin-bottom: 3rem;
  }
  .empty-cart {
    color: #617d98;
    margin-top: 1rem;
    letter-spacing: 4px;
  }
  footer {
    margin-top: 4rem;
  }
  .cart-total {
    margin-top: 1rem;
  }
  .clear-btn {
    background: transparent;
    padding: 0.5rem 1rem;
    color: #bb2525;
    border: 1px solid #bb2525;
    margin-top: 2.25rem;
    border-radius: 0.25rem;
    -webkit-border-radius: 0.25rem;
    -moz-border-radius: 0.25rem;
    letter-spacing: 5px;
  }
  .clear-btn:hover {
    background-color: #e66b6b;
    color: #bb2525;
    border-color: #e66b6b;
  }
}
/* CART */
//////////////////////////////////////////
/* Cart Item */
.cart-item {
  display: grid;
  align-items: center;
  grid-template-columns: auto 1fr auto;
  grid-column-gap: 1.5rem;
  margin: 1.5rem 0;
  img {
    width: 5rem;
    height: 5rem;
    object-fit: cover;
  }
  .item-body {
    h3 {
      font-size: 1.5rem;
    }
    h4 {
      margin-bottom: 0.5rem;
      font-weight: 500;
      letter-spacing: 2px;
    }
    .item-price {
      color: #617d98;
    }
    .remove-btn {
      color: #645cff;
      letter-spacing: 0.25rem;
      cursor: pointer;
      font-size: 0.85rem;
      background: transparent;
      border: none;
      margin-top: 0.375rem;
      transition: all 0.3s linear;
      -webkit-transition: all 0.3s linear;
      -moz-transition: all 0.3s linear;
      &:hover {
        color: #a29dff;
      }
    }
  }
}
/* Cart Item */
//////////////////////////////////////////
/* Default Classes */
.svg {
  z-index: -1 !important;
}
.hr {
  background: #6e687e;
  border-width: 0.25rem;
}

/* Media Query 1024px || Extra-Large Size Devices */
@media screen and (min-width: 1024px) {
  /* Login */
  .login {
    .login-form {
      form {
        height: auto;
      }
    }
  }
  /* Login */
  //////////////////////////////////////////
  /* welcome */
  .welcome {
    height: 42.5rem;
    .welcome-buttons {
      .btn {
        margin-bottom: 1rem;
      }
    }
  }
  /* welcome */
  //////////////////////////////////////////
  /* Products */
  .products {
    .container {
      .row {
        .card {
          width: 15.5rem;
        }
      }
    }
  }
  /* Products */
  //////////////////////////////////////////
  /* New Arrivals */
  .arrivals {
    .arrivals-content {
      padding-top: 15rem;
      .arrivals-images {
        height: 30rem;
      }
      .arrivals-news {
        .news-img {
          height: 25rem;
        }
        section {
          aside {
            right: -3rem;
            h1 {
              font-size: 1.3rem;
            }
            p {
              font-size: 0.8rem;
            }
          }
        }
      }
    }
  }
  /* New Arrivals */
  //////////////////////////////////////////
  /* Footer */
  .footer {
    padding: 15rem 0 0 2rem;
  }
  /* Footer */
  //////////////////////////////////////////
  /* CART */
  .cart {
    padding: 8rem 0;
    h2 {
      margin-bottom: 1rem;
    }
  }
  /* CART */
  //////////////////////////////////////////
  //////////////////////////////////////////
  /* Checkout */
  .checkout {
    margin-top: 4rem;
    padding-bottom: 5rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-style: normal;
    .checkout-header {
      font-size: 2.5rem;
    }
  }
  //////////////////////////////////////////
}
//////////////////////////////////////////
/* Media Query 1023px to 768px || Large Size Devices */
@media screen and (min-width: 768px) and (max-width: 1023px) {
  /* Login */
  .login {
    .login-form {
      form {
        width: 55%;
        height: auto;
      }
    }
  }
  /* Login */

  /* Options */
  .options {
    .content {
      section {
        .btn {
          width: 12rem;
          font-size: 1.2rem;
          .FontAwesomeIcon {
            margin: 0 0.75rem 0 0 !important;
          }
        }
        #electronics {
          width: 15rem;
          padding: 0.5rem !important;
          font-size: 1.2rem;
        }
      }
    }
  }
  /* Options */
  //////////////////////////////////////////
  /* welcome */
  .welcome {
    height: 42.5rem;
    .welcome-buttons {
      .btn {
        margin-bottom: 1rem;
      }
    }
  }
  /* welcome */
  //////////////////////////////////////////
  /* Products */
  .products {
    .container {
      .row {
        .card {
          width: 15.5rem;
        }
      }
    }
  }
  /* Products */
  //////////////////////////////////////////
  /* New Arrivals */
  .arrivals {
    .arrivals-content {
      padding-top: 15rem;
      .arrivals-images {
        height: 30rem;
      }
      .arrivals-news {
        .news-img {
          height: 25rem;
        }
        section {
          aside {
            right: -3rem;
            h1 {
              font-size: 1.3rem;
            }
            p {
              font-size: 0.8rem;
            }
          }
        }
      }
    }
  }
  /* New Arrivals */
  //////////////////////////////////////////
  /* Footer */
  .footer {
    padding: 15rem 0 0 2rem;
  }
  /* Footer */
  //////////////////////////////////////////
  /* CART */
  .cart {
    padding: 8rem 0;
    h2 {
      margin-bottom: 1rem;
    }
  }
  /* CART */
  //////////////////////////////////////////
}
//////////////////////////////////////////
/* Media Query 767px || Medium Size Devices */
@media screen and (min-width: 426px) and (max-width: 767px) {
  /* Options */
  .options {
    .content {
      section {
        .btn {
          width: 12rem;
          font-size: 1.2rem;
          .FontAwesomeIcon {
            margin: 0 0.75rem 0 0 !important;
          }
        }
        #electronics {
          width: 15rem;
          padding: 0.5rem !important;
          font-size: 1.2rem;
        }
      }
    }
  }
  /* Options */
  //////////////////////////////////////////
  /* welcome */
  .welcome {
    height: 42.5rem;
    .welcome-buttons {
      .btn {
        margin-bottom: 1rem;
      }
    }
  }
  /* welcome */
  //////////////////////////////////////////
  /* Products */
  .products {
    .container {
      .row {
        .card {
          width: 15.5rem;
        }
      }
    }
  }
  /* Products */
  //////////////////////////////////////////
  /* New Arrivals */
  .arrivals {
    .arrivals-content {
      padding-top: 12rem;
      .arrivals-images {
        height: 30rem;
      }
      .arrivals-news {
        .news-img {
          height: 25rem;
        }
        section {
          aside {
            right: -3rem;
            h1 {
              font-size: 1.3rem;
            }
            p {
              font-size: 0.8rem;
            }
          }
        }
      }
    }
  }
  /* New Arrivals */
  //////////////////////////////////////////
  /* Footer */
  .footer {
    padding: 13rem 0 0 2rem;
  }
  /* Footer */
  //////////////////////////////////////////
  /* CART */
  .cart {
    padding: 8rem 0;
    h2 {
      margin-bottom: 1rem;
    }
  }
  /* CART */
  //////////////////////////////////////////
}
//////////////////////////////////////////
/* Media Query 425px || Small Devices */
@media screen and (max-width: 425px) {
  /* Login */
  .login {
    .login-form {
      form {
        width: auto;
        height: auto;
        .login-btn {
          width: auto !important;
        }
      }
    }
  }
  /* Login */

  /* Options */
  .options {
    .content {
      section {
        .btn {
          width: 7.5rem;
          font-size: 0.82rem;
          .FontAwesomeIcon {
            margin: 0 0.5rem 0 0 !important;
          }
        }
        #electronics {
          padding: 0.5rem !important;
          font-size: 0.8rem;
        }
      }
    }
  }
  /* Options */
  //////////////////////////////////////////
  /* welcome */
  .welcome {
    height: 53rem;
    .welcome-buttons {
      .btn {
        margin-bottom: 1rem;
      }
    }
  }
  /* welcome */
  //////////////////////////////////////////
  /* New Arrivals */
  .arrivals {
    .arrivals-content {
      padding-top: 7rem;
      .arrivals-images {
        height: 20rem;
      }
      .arrivals-news {
        .news-img {
          height: 25rem;
        }
        section {
          aside {
            right: -3rem;
            h1 {
              font-size: 1.3rem;
            }
            p {
              font-size: 0.8rem;
            }
          }
        }
      }
    }
  }
  /* New Arrivals */
  //////////////////////////////////////////
  /* Footer */
  .footer {
    padding: 10rem 0 0 2rem;
  }
  /* Footer */
  //////////////////////////////////////////
  /* CART */
  .cart {
    padding: 10rem 0;
    h2 {
      margin-bottom: 1rem;
    }
  }
  /* CART */
}

/* Loader */
.loader-holder {
  width: 100vw;
  height: 100vh;
  background-color: #000;
  .loader {
    width: 60px;
    height: 22px;
    border: 2px solid;
    border-radius: 3px;
    margin-left: -3px;
  }
}

.loader::after,
.loader::before {
  content: '';
  display: block;
  box-sizing: border-box;
  position: absolute;
  height: 12px;
  background: currentColor;
  top: 3px;
}

.loader::before {
  right: -4px;
  border-radius: 3px;
  width: 4px;
}

.loader::after {
  width: 1px;
  left: 3px;
  animation: full 2s ease-in-out infinite;
}

@keyframes full {
  20% {
    background-color: red;
  }

  45% {
    background-color: yellow;
  }

  to {
    width: 50px;
    background-color: greenyellow;
  }
}

.shake-input {
  animation: input-shaking 1s ease-in-out;
  -webkit-animation: input-shaking 1s ease-in-out;
  animation-iteration-count: 2;
  -webkit-animation-iteration-count: 2;
}
@keyframes input-shaking {
  0%,
  100% {
    transform: translate(0);
    -webkit-transform: translate(0);
    -moz-transform: translate(0);
  }
  20% {
    transform: translateX(7px);
    -webkit-transform: translateX(7px);
    -moz-transform: translateX(7px);
  }
  40% {
    transform: translateX(-7px);
    -webkit-transform: translateX(-7px);
    -moz-transform: translateX(-7px);
  }
  60% {
    transform: translateX(13px);
    -webkit-transform: translateX(13px);
    -moz-transform: translateX(13px);
  }
  80% {
    transform: translateX(-13px);
    -webkit-transform: translateX(-13px);
    -moz-transform: translateX(-13px);
  }
}
